@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Dancing+Script:wght@600&family=Diphylleia&family=Josefin+Sans:ital,wght@1,100&family=Merriweather:ital,wght@1,300&family=Montserrat:wght@200&family=Open+Sans:wght@300;500&family=Pangolin&family=Pathway+Extreme:wght@100&family=Poppins:wght@900&family=Rubik+Iso&family=Ubuntu&family=Ysabeau+SC:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.nav li{
    background-color: black;
    color: white;
    height: 50px;
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.gamecontainer{
    /* background-color: skyblue; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,9vw);
    grid-template-columns: repeat(3,9vw);
}
.box{
    border: 1px solid black;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}
.box:hover{
    background-color: rgb(226, 226, 255);
    cursor: pointer;
}
.gameinfo{
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.imgbox img{
    height: 150px;
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    width: 106px;
    font-size: 17px;
    margin-top: 12px;
    margin-left: 33px;
    padding: 8px;
    background-color: rgb(226, 226, 255);
    cursor: pointer;
    border-radius: 25px;
}
#reset:active{
    background-color: rgb(192, 192, 254);
}

.info{
    font-size: 17px;
}

@media screen and (max-width: 1290px)
{
    .imgbox img{
        height: 100px;
        width: 100px;
    }
}
@media screen and (max-width: 530px)
{
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        font-size: 0.9rem;
        margin-top: 34px;
    }
    .container{
        grid-template-rows: repeat(3,15vw);
    grid-template-columns: repeat(3,15vw);
    }
    .imgbox img{
        height: 100px;
        width: 100px;
    }
}
@media screen and (max-width: 370px)
{
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        font-size: 0.7rem;
        margin-top: 34px;
    }
    .container{
        grid-template-rows: repeat(3,15vw);
    grid-template-columns: repeat(3,15vw);
    }
    
    
}
@media screen and (max-width: 298px)
{
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        font-size: 0.5rem;
        margin-top: 34px;
    }
    #reset{
        width: 90px;
        padding: 4px;
    }
    .container{
        grid-template-rows: repeat(3,15vw);
    grid-template-columns: repeat(3,15vw);
    }
}
@media screen and (max-width: 245px)
{
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        font-size: 0.5rem;
        margin-top: 34px;
    }
    #reset{
        width: 65px;
        padding: 4px;
        font-size: 13px;
    }
    .container{
        grid-template-rows: repeat(3,15vw);
    grid-template-columns: repeat(3,15vw);
    }
}
@media screen and (max-width: 229px)
{
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        font-size: 0.4rem;
        margin-top: 34px;
    }
    #reset{
        width: 55px;
        padding: 3px;
        font-size: 10px;
    }
    .info{
        font-size:10px ;
    }
    .container{
        grid-template-rows: repeat(3,15vw);
    grid-template-columns: repeat(3,15vw);
    }
}
.line{
    /* position: absolute; */
    background-color: black;
    height: 5px;
    width: 0
    
    vw;
    transition: width 1s ease-in-out;
}